*{
  margin: 0; 
  padding: 0; 
  border: 0;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
ul,ol,li{
  list-style: none;
}
 .slider{
  width: 100%;  
  overflow: hidden;
 }
 .slider ul{
  position: relative;
  overflow: hidden;
 }
 .slider ul li{
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
 }
 .slider ul li img{
  width: 100%;
 }
 .slider ul a{
  position: absolute;
  top:49%;
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color:rgb(255,255,255);
  opacity: 0.7;
 }
 .prev{
  left:0;
  background:url(../images/img-sprite.png) no-repeat -41px -3px;;

 }
 .next{
  right:0;
  background:url(../images/img-sprite.png) no-repeat -81px -3px;;
 }
.top{
  position: absolute;
  top:0;
  width: 100%;
}
.top_input {
  width: 1200px;
  height: 61px;
  line-height: 61px;
  text-align: right;
  margin:0 auto;
}
.top_input input {
  display: inline-block;
  width: 180px;
  height: 35px;
  padding: 0 15px;
  outline: none;
}
.top_input div{
  float: right;
  margin-top: 13.5px;
  background: url('../images/img-sprite.png') no-repeat -5px -2px #DC483A;
}
.top_input div a{
  display: block;
  width:30px;
  height: 35px;
}
.top_nav{
  width: 1200px;
  height: 75px;
  background: blue;
  margin:0 auto;
  font-size: 14px;
  background: #DC483A;
}
.top_nav>a{
  float: left;
  text-decoration: none;
  font-size: 29px;
  font-weight: bold;
  width: 304px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #DC483A;
  color:#fff;
}
.top_nav ul {
  display: inline-block;
  float: right;
  width: 896px;
  background: #303030;
}
.top_nav ul li {
  float: right;
  font-size: 20px;
  transition: all 0.5s;
}
.top_nav ul li:nth-child(6){
  background: #DC483A;
}
.top_nav ul li:hover {
  background: #DC483A;
}
.top_nav ul li a {
  display: block;
  text-decoration: none;
  padding: 22px 23px;
  color:#fff;
  font-family: 'Droid Serif', serif;
}
.three_card{
  position: relative;
  width: 1200px;
  margin:0 auto;
  z-index: 99;
  padding-bottom: 50px;
  border-bottom: 1px dashed #BBB8B8;
}
.three_main{
  width: 100%;
  margin-top: -48px;
  overflow: hidden;
}
.three_main>div{
  width: 386px;
  float: left;
  background: #fff;
}
.three_main>div h3{
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  background: #fff;
  color:#DC483A;
}
.three_main div>a img{
  width: 100%;
}
.three_main div>div{
  width: 100%;
  height: 40px;
  /*margin-top: -3px;*/
}
.three_main>div>div a:nth-child(1){
  display: block;
  width: 89%;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  text-decoration: none;
  font-size: 16px;
  float: left;
  background: #DC483A;
  color:#fff;
  transition: all 0.3s;
}
.three_main>div>div a:nth-child(2){
  display: block;
  width: 11%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  float: left;
  background: #303030;
  color:#fff;
  transition: all 0.3s;
}
.welcome {
  margin-right: 21px;
}
.history{
  margin-right: 21px;
}

.three_card2{
  width: 1200px;
  margin:0 auto;
  padding-top: 50px;
}
.three_card2>div>ul {
  display: block;
  margin-bottom: 20px;
}
.three_card2>div>ul li{
  list-style: none;
  border-bottom: 1px dashed #BBB8B8;
  transition: all  0.6s;
  -moz-transition:all 0.6s;
  -webkit-transition:all 0.6s;
  -o-transition:all 0.6s;
}
.three_card2>div>ul li a i {
  background: #DC483A;
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0px;
}
.three_card2>div>ul li a{
  color: #838383;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}
.three_card2>div{
  width: 386px;
  float: left;
}
.three_card2>div>h3{
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
}
.three_card2>div>span{
  color: #838692;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5em;
  padding: 0 0 1em;
  display: block;
}
.card2_p{
  color: #DC483A;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5em;
  padding: 0 0 1em;
  display: block;
}
.three_card2_left {
  margin-right: 21px;
}
.three_card2_middle {
  margin-right: 21px;
}
.three_card2_right>div {
  margin-bottom: 30px;
  overflow: hidden;
}
.three_card2_right>div p {
  display: block;
  margin-left: 15px;
  margin-bottom: 5px;
  vertical-align: top;
  color: #DC483A;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5em;
  padding: 0 0 0.2em;
  float: left;
}
.three_card2_right>div img{
  max-width: 100%;
  float: left;
}
.three_card2_right div span{
  display: block;
  width: 218px;
  margin-left: 15px;
  float: left;
  color: #838383;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.7em;
}






.hover{
  width:200px;
  height: 40px;
}
.hover a:nth-child(1){
  display: block;
  width: 80%;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  text-decoration: none;
  font-size: 16px;
  float: left;
  background: #DC483A;
  color:#fff;
  transition: all 0.3s;
}
.hover a:nth-child(2){
  display: block;
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  float: left;
  background: #303030;
  color:#fff;
  transition: all 0.3s;
}




































/*=================尾部样式=================================*/
.footer{
  width: 100%;
  background: #DC483A;  
}
.footer_main {
  width: 1200px;
  padding: 4em 0;
  margin: 0 auto;
  overflow: hidden;
}
.footer_main h4{
  font-size: 37px;
  font-family: 'Droid Serif', serif;
  color:#fff;
  margin-bottom: 25px;
}
.footer_main_1 {
  display: block;
  width: 33.3333333%;
  float: left;
}
.footer_main_1 div{
  width: 90%;
  float: left;
}
.footer_main_1 p{
  margin: 0 0 0.5em;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.7em;
  font-family: 'Arimo', sans-serif;
}
.footer_main_1 span{
  display: block;
  margin:20px 0;
  font-size: 14px;
  color:#fff;
}
.footer_main_1 span a{
  text-decoration: none;
  color:#FFF;
  transition: all 0.3s;
}
.footer_main_1 span a:hover {
  color:#000;
}
.address{
  display: inline-block;
  width: 18px;
  height: 21px;
  float: left;
  margin-right: 10px;
  background: url('../images/img-sprite.png') no-repeat -126px -10px;
}
.phone {
  display: inline-block;
  width: 18px;
  height: 21px;
  float: left;
  margin-right: 10px;
  background: url('../images/img-sprite.png') no-repeat -153px -10px;
}
.email {
  display: inline-block;
  width: 18px;
  height: 21px;
  float: left;
  margin-right: 10px;
  background: url('../images/img-sprite.png') no-repeat -178px -10px;
}
.footer_main_2 {
  display: block;
  width: 33.3333333%;
  float: left;
}
.footer_main_2 div{
  width: 90%;
  float: left;
}
.footer_main_2 p{
  margin: 0 0 0.5em;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.7em;
  font-family: 'Arimo', sans-serif;
  padding-bottom: 20px;
}
.footer_main_2 p{
  display: block;
  margin:20px 0;
  font-size: 14px;
  color:#fff;
}
.footer_main_2 p a{
  text-decoration: none;
  color:#FFF;
  transition: all 0.3s;
}
.footer_main_2 p a:hover {
  color:#000;
}
.footer_main_3 {
  display: block;
  width: 33.3333333%;
  float: left;
}
.footer_main_3  ul li a {
  display: block;
  width: 32px;
  height: 32px;
  margin:0 8px;
  float: left;
  border-radius: 50%;
  background: url('../images/img-sprite.png') no-repeat -12px -52px;
}
.footer_main_3  ul li:nth-child(2) a{
  background-position: -92px -52px;
}
.footer_main_3  ul li:nth-child(3) a{
  background-position: -177px -52px;
}
.footer_main_3  ul li:nth-child(4) a{
  background-position: -265px -52px;
}
.footer_main_3  ul li:nth-child(1) a:hover{
  background-position: -52px -52px;
}
.footer_main_3  ul li:nth-child(2) a:hover{
  background-position: -136px -52px;
}
.footer_main_3  ul li:nth-child(3) a:hover{
  background-position: -221px -52px;
}
.footer_main_3  ul li:nth-child(4) a:hover{
  background-position: -306px -52px;
}
.copyright{
  margin-top: -26px;
  clear:both;
  width: 1200px;
  height: 50px;
  text-align: center;
  color:#fff;
}
.copyright a{
  color:#000;
  text-decoration: none;
  transition: all 0.3s;
}
.copyright a:hover{
  color:#fff;
}



.bottom_grid {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}
.bottom_grid_main {
  width: 1200px;
  margin:0 auto;
}
.bottom_grid_main div img{
  display: block;
  max-width: 100%;
  height: auto;
}
.bottom_grid_main h3{
  padding: 33px 0;
  font-size: 27px;
  font-weight: normal;
  font-family: 'Droid Serif', serif;
}
.bottom_grid_main>div{
  float: left;
}
.bottom_grid_main_1{
  width: 390px;
  margin-right: 30px;
  /*background:red;*/
}
.bottom_grid_main_2{
  width: 390px;
  margin-right: 30px;
  /*background:red;*/
}
.bottom_grid_main_1>p,.bottom_grid_main_2>p{
  width: 92%;
  color: #838383;
  font-size: 1.1em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.7em;
  padding: 0.8em 0 0;
}
.bottom_grid_main_3{
  width: 360px;
}
.bottom_grid_main_3 h4{
  font-size: 1.4em;
  color: #000;
  padding: 0 0 1em;
}
.bottom_grid_main_3 ul li {
  display: block;
  width: 100%;
  background:#DC483A;
  margin:6px 0;
  /*overflow: hidden;*/
}
.bottom_grid_main_3 ul li a{
  display: block;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  color:#fff;
  font-size: 1.1em;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
}
.bottom_grid_main_3 ul li a img{
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 5.5px;
  margin-left: 7px;
  margin-right: 7px;
}
.bottom_grid_main_3 ul li p{
  padding: 5px;
  display: none;
  width: 100%;
  background: #fff;
  color: #727272;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Arimo', sans-serif;
}























